.feed-breaker-main {
    position: fixed;
    z-index: 10;
    margin-left: 20em;
    margin-top: 10em;
    pointer-events: auto;

    .button {
        background: #fff;
        border: 1px solid #00f;
        border-radius: 10px;
    }
}

// item in explore page
// .css-x6y88p-DivItemContainerV2 {
//     display: none;
// }