
.tiktok-reels-eradicator-main {
    position: fixed;
    z-index: 10;
    margin-left: 20em;
    margin-top: 10em;

    .button {
        background: #fff;
        border: 1px solid #00f;
        border-radius: 10px;
    }
}

